#header /*seccion de cabecera de la pagina web*/
{
	font-family:sans-serif;
	margin-left:auto;
	margin-right:auto;
	font-size:20pt;
	margin: 100px;
}

#section
{
	font-family:monospace;
	margin-left:auto;
	margin-right:auto;
	font-size:20pt;
	margin: 100px;
}

#footer /*pie de la pagina*/
{
	background-color:orange;
	font-size:20pt;
	margin: 100px;
}
body{
	background-color:#FFE97F;
}
img{
	vertical-align: top;
	margin:right;
}
h1{
	background-color:orange;
}
